* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #fe4f8c, #fe00ba);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
}
